@font-face {
    font-family: 'Basement Grotesque';
    src: url('./BasementGrotesque-Black_v1.202.woff2') format('woff2'),
        url('./BasementGrotesque-Black_v1.202.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    text-rendering: geometricPrecision;
}
